/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Bungee');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --color-borders: #464f67;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .3s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  background-image:url("../images/struckaxiom.png");
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  border-top : 20px var(--color-borders) solid;
  margin : 0 auto;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Bungee Shade', cursive;
  font-size: var(--font-size-large);
  margin: 0;
}

h3{
  font-family: 'Fredoka One', cursive;
  font-size: 27px;
  color: var(--color-start);
}

button {
  font-family: 'Fredoka One', cursive;
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

button:hover{
  background-color: var(--color-keys);
  color:white;
  transform: scale(1.2);
}

p {
  margin: 0 auto;
  font-size: 12px;
  padding: 8px;
  text-align: center;
}

a:hover{
  transform: scale(1.2);
}

footer {
  margin-top: auto;
  color: white;
  background-color: var(--color-borders);
  font-family: 'Fredoka One', cursive;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

.letter {
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 3px;
  margin-bottom: 3px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 25px;
}

.show {
  color: #fff;
  background-color: #76CE82;
  transform: scale(1.2);
  transition: transform 0.3s cubic-bezier(0,-0.92,.29,2.92);
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  font-family: 'Bungee', cursive;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index:1000;
}


.title {
  color: #FFF;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win {
  background-color: var(--color-win);
}

.scoreOverlay{
 z-index:1100;
 color: #fff;
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.lose a {
  color: var(--color-lose);
}

/* Gradient Animation */
#overlay.start {
  background: linear-gradient(89deg, var(--color-win), var(--color-start));
  background-size: 400% 400%;
  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  -o-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

#overlay.win {
  background: linear-gradient(89deg, #1dad01, var(--color-win));
  background-size: 400% 400%;
  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  -o-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
}

#overlay.lose {
  background: linear-gradient(89deg, var(--color-lose), #932B2B);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  -o-animation: AnimationName 2s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@-moz-keyframes AnimationName {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes AnimationName {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}